/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styles */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 10;
}



main {
    margin-top: 150px;
    padding: 30px;
}
.overlay-text {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to be perfectly centered */
    color: white; /* Set text color to white */
    font-size: 4em; /* Set font size to your preference */
    font-family: 'Arial', sans-serif; /* Change font style to Arial or any preferred font */
    z-index: -1; /* Ensure it stays behind other content */
    text-align: center; /* Center align text */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
}

/* Coaches Section */
.coach-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.coach-images img {
    width: 30%; 
    height: 200px; 
    object-fit: cover; 
  
}

/* Star Players Section */
.star-players {
    text-align: center;
    margin-bottom: 20px;
}

.star-players {
    text-align: center;
    margin-bottom: 20px;
}

.player-background {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
}

.player-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 300px; 
    align-items: center;
    scroll-snap-type: y mandatory;
}

.player {
    flex: 0 0 auto; 
    scroll-snap-align: start; 
    margin-bottom: 10px;
    text-align: center;
}

.player img {
    width: 250px;
    height: auto; 
    border-radius: 10px; 
}


/* Rankings Table */
.rankings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.rankings th, .rankings td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.rankings tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    position: static;
    bottom: 0;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.content {
    writing-mode: vertical-rl;
    margin-left: 20px;
}
